{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}causKnow{% endblock %}</title>
    <script src="{% static 'codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'theme/material.css' %}">
    <script src="{% static 'mode/sparql/sparql.js' %}"></script>
    <script src="{% static 'mode/turtle/turtle.js' %}"></script>
    <script type="text/javascript">
        window.onload = function () {
        var config, editor;

        config = {
            lineNumbers: true,
            mode: "turtle",
            theme: "material",
        };

        editor = CodeMirror.fromTextArea(document.getElementById("template-html"), config);

        }
    </script>
</head>

<body class="bg-light">
    <div class="nav-scroller bg-white shadow-sm">
        <nav class="nav nav-underline">
            <a class="navbar-brand nav-link active" href="{% url 'causknow:home' %}">causKnow</a>
            <a class="nav-link" href="{% url 'causknow:upload' %}">
                Add FCM Data
                <!-- <span class="badge badge-pill bg-light align-text-bottom">27</span> -->
            </a>
            <a class="nav-link" href="{% url 'causknow:sparql' %}">Context-aware Knowledge Retrieval</a>
        </nav>
    </div>
    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="/docs/4.2/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">causKnow</h6>
                <small>Falconio</small>
            </div>
        </div>
        
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            {% block content %}
            {% endblock %}
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>
