{% extends 'causknow/base.html' %}

{% block content %}
<h2 class="card-title">What is causKnow after all? </h2>
<p class="card-text">
<ul>
    <li>
        causKnow is a semantic web-based application deployed on a cloud architecture.  
    </li>
    <li>
        Basically, causKnow lays its foundation over ontological engineering principles. It makes use of a multi-layered ontological formalism for context-aware dissemination of causal knowledge about a given phenomenon. Read this scientific publication to find more. (<a href="https://www.sciencedirect.com/science/article/pii/S1474034618301642">https://www.sciencedirect.com/science/article/pii/S1474034618301642</a>)
    </li>
    <li>
        At its core, causKnow appreciates certain epistemological concerns around knowledge sharing and reuse; by adding a context-sensing power to its knowledge retrieval mechanism. End user can define contextual attributes of interest and query a graph-based database containing FCM-driven causal knowledge representations.    
    </li>
    <li>
        The current meta-model of causKnow’s knowledge representation and reasoning scheme supports the Fuzzy Cognitive Mapping approach. FCM, combining the principles of neuro-computing and Fuzzy logic, is an intuitive tool which exploits expert causal judgements for anticipation of future states of highly dynamic, distributed, and complex systems. 
    </li>
    <li>
        At the moment, causKnow allows for uploading FCM scenarios as ontological instances in various serializations such as RDF/XML, Turtle, N3, etc.
    </li>
    <li>
    We believe in open knowledge-sharing in action! Find causKnow’s Github repo here. <a href="http://github.com/falconio">Falconio</a>
    </li>
</ul>
</p>

{% endblock %}