{% extends 'causknow/base.html' %}

{% block content %}

    <h6 class="border-bottom border-gray pb-2 mb-0">What is causKnow after all?</h6>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">1.</strong>
        causKnow is a semantic web-based application deployed on a cloud architecture.
      </p>
    </div>

    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">2.</strong>
        Basically, causKnow lays its foundation over ontological engineering principles. It makes use of a multi-layered ontological formalism for context-aware dissemination of causal knowledge about a given phenomenon. Read this scientific publication to find more. (<a href="https://www.sciencedirect.com/science/article/pii/S1474034618301642">https://www.sciencedirect.com/science/article/pii/S1474034618301642</a>)      </p>
    </div>

    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">3.</strong>
        At its core, causKnow appreciates certain epistemological concerns around knowledge sharing and reuse; by adding a context-sensing power to its knowledge retrieval mechanism. End user can define contextual attributes of interest and query a graph-based database containing FCM-driven causal knowledge representations.    
      </p>
    </div>

    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">4.</strong>
        The current meta-model of causKnow’s knowledge representation and reasoning scheme supports the Fuzzy Cognitive Mapping approach. FCM, combining the principles of neuro-computing and Fuzzy logic, is an intuitive tool which exploits expert causal judgements for anticipation of future states of highly dynamic, distributed, and complex systems. 
      </p>
    </div>

    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">5.</strong>
        At the moment, causKnow allows for uploading FCM scenarios as ontological instances in various serializations such as RDF/XML, Turtle, N3, etc.
      </p>
    </div>

    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect fill="#007bff" width="100%" height="100%"></rect><text fill="#007bff" dy=".3em" x="50%" y="50%">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">6.</strong>
        We believe in open knowledge-sharing in action! Find causKnow’s Github repo here: <a href="http://github.com/falconio">Falconio</a>
      </p>
    </div>

{% endblock %}