{% extends "causknow/base.html" %}

{% block content %}
    <h5> Context-aware knowledge retrieval <small class="text-muted">using SPARQL Query</small> </h5>

    <form action="{% url 'causknow:results' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter your SPARQL: </label>
            <div class="CodeMirror cm-s-default CodeMirror-wrap">
                <textarea class="form-control" id="template-html" rows="10" name="usersparqlquery"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
{% endblock %}